body {
  font-size: 22px;
  font-family: sans-serif;
}

.intro-screen-container {
  font-family: "Kalam", sans-serif;
  font-size: 96px;
  background: var(--color-background);
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 100px;
  text-align: right;
  animation-name: hideElement;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  z-index: 9999; /* Add a high z-index value */
  position: relative; /* Add position property for z-index to work */
}

@keyframes hideElement {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    height: 0vh;
    width: 0vw;
  }
}

.intro-name-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 56px;
}

.intro-last-name {
  margin: 0px;
  line-height: 1;
}

.intro-first-name {
  margin-right: 16px;
}

/* Add the following media query */
@media screen and (min-width: 375px) {
  .intro-screen-container {
    font-size: 56px;
  }

  .intro-first-name {
    margin-right: 96px;
  }

  .intro-last-name-container {
    margin-right: 128px;
    margin-bottom: 28px;
  }
}

.footer-container {
  animation-name: showElement;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 2s; /* Update the delay to match the time when hideElement animation finishes */
  opacity: 0;
}

@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  gap: 16px;
  margin: 16px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  margin: auto;
}

.image-2,
.image-4 {
  height: 300px !important;
}

.name-container {
  display: flex;
  justify-content: end;
  margin: 16px;
  gap: 16px;
  font-family: "Kalam", sans-serif;
  font-size: 36px;
  margin: 24px;
  margin-bottom: 0px;
}
