:root {
  --color-text: rgb(115, 115, 115);
  --color-baby-blue: rgb(137, 207, 240);
  --color-pale-pink: rgb(240, 137, 207);
  --color-mint-green: rgb(137, 240, 207);
  --color-lavender: rgb(207, 137, 240);
  --color-peach: rgb(240, 207, 137);
  --color-light-gray: rgb(207, 207, 207);
  --color-lime: rgb(137, 240, 137);
  --color-lilac: rgb(200, 137, 240);
  --color-coral: rgb(240, 137, 137);
  --color-gold: rgb(240, 207, 137);
  --color-orange: rgb(240, 160, 137);
  --color-background: linear-gradient(to bottom right, #001, #000);
}

/* styles.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes up the full viewport height */
  margin: 0;
  font-family: "Kalam", sans-serif;
}

.media-card-container {
  display: flex;
  justify-content: space-between;
  margin: 96px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.intro-text {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  width: 50vw;
  margin: auto;
  margin-top: 64px;
}

#page-content {
  flex: 1; /* Make the content grow and push the footer to the bottom */
}

.toolbar {
  display: flex;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 25vw; /* Increase the height of the banner relative to the viewport width */
  background-image: url("../images/banner-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.media-card {
  margin: 16px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.media-card-image {
  border-radius: 4px 4px 0px 0px;
  height: 128px;
  object-fit: cover;
}

.media-card,
.media-card-image {
  width: 40vh;
}

.media-card-title,
.media-card-subtitle {
  margin: 0px 16px;
  margin-top: 6px;
}

.media-card-subtitle,
.media-card-content {
  color: var(--color-text);
}

.media-card-content {
  margin: 16px;
}

.footer-container {
  color: var(--text-color);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.footer-container div {
  padding: 16px;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: black;
  margin: auto;
}

.media-card-title-z123025 {
  color: var(--color-orange);
}

.media-card-title-z123042 {
  color: var(--color-lilac);
}

.media-card-title-z523015 {
  color: var(--color-mint-green);
}

.media-card-1,
.media-card-2,
.media-card-3 {
  animation-name: showElement;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.media-card-2 {
  animation-delay: 0.6s;
}

.media-card-3 {
  animation-delay: 0.9s;
}

@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
