:root {
  --color-text-on-white: #737373;
  --color-text-on-black: #efefef;
  --color-title: #000000;
  --color-baby-blue: #89cfe0;
  --color-pale-pink: #f089cf;
  --color-mint-green: #89f0cf;
  --color-lavender: #cf89f0;
  --color-peach: #f0cf89;
  --color-light-gray: #cfcfcf;
  --color-lime: #89f089;
  --color-lilac: #c889f0;
  --color-coral: #f08989;
  --color-gold: #f0cf89;
  --color-orange: #f0a089;
  --color-background: linear-gradient(#fff);
  --color-bright-red: #db2329;
}
