:root {
  --color-text: rgb(115, 115, 115);
  --color-baby-blue: rgb(137, 207, 240);
  --color-pale-pink: rgb(240, 137, 207);
  --color-mint-green: rgb(137, 240, 207);
  --color-lavender: rgb(207, 137, 240);
  --color-peach: rgb(240, 207, 137);
  --color-light-gray: rgb(207, 207, 207);
  --color-lime: rgb(137, 240, 137);
  --color-lilac: rgb(200, 137, 240);
  --color-coral: rgb(240, 137, 137);
  --color-gold: rgb(240, 207, 137);
  --color-orange: rgb(240, 160, 137);
  --color-background: linear-gradient(to bottom right, #001, #000);
}

/* styles.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes up the full viewport height */
  margin: 0;
  font-family: "Kalam", sans-serif;
}

.media-card-container {
  display: flex;
  justify-content: center;
  gap: 96px;
  margin-top: 24px;
  flex-wrap: wrap;
  gap: 24px;
}

.intro-text {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  width: 50vw;
  margin: auto;
  margin-top: 64px;
}

#page-content {
  flex: 1; /* Make the content grow and push the footer to the bottom */
}

.toolbar {
  display: flex;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 25vw; /* Increase the height of the banner relative to the viewport width */
  background-image: url("../images/banner-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  margin: 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  object-fit: cover;
}

.media-card {
  font-size: 14px;
}

.media-card-image {
  border-radius: 4px 4px 0px 0px;
  height: 128px;
  object-fit: cover;
}

.media-card,
.media-card-image {
  width: 40vh;
}

.media-card-title,
.media-card-subtitle {
  margin: 0px 16px;
  margin-top: 6px;
}

.media-card-subtitle,
.media-card-content {
  color: var(--color-text);
}

.media-card-content {
  margin: 16px;
}

.footer-container {
  color: var(--color-text);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.footer-container div {
  padding: 16px;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: black;
  margin: auto;
}

.z123025 {
  color: var(--color-orange);
}

.z123042 {
  color: var(--color-lilac);
}

.z523015 {
  color: var(--color-mint-green);
}

.media-card-1,
.media-card-2,
.media-card-3 {
  animation-name: showElement;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.media-card-2 {
  animation-delay: 0.6s;
}

.media-card-3 {
  animation-delay: 0.9s;
}

@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.journeys-container {
  margin: 96px;
  margin-top: 0px;
}

.journeys-container h3 {
  text-align: center;
}

.journey-author {
  font-size: x-large;
  font-weight: bold;
  margin: 6px 0;
}

.journey-picture {
  width: 256px;
  height: 256px;
}

.journey-container {
  display: flex;
}

.journey-container-reverse {
  flex-direction: row-reverse;
}

.journey-text-container {
  margin: auto 16px;
}

.journey-text-container .journey-content {
  color: var(--color-text);
}

/* styles.css */
/* ... existing code ... */

/* Add this media query for mobile devices */
@media screen and (max-width: 667px) {
  .intro-text {
    font-size: x-large; /* Smaller font size for mobile devices */
    width: 90vw; /* Increase width for mobile devices */
    margin-top: 32px; /* Reduce top margin for mobile devices */
  }

  .media-card-container,
  .journeys-container {
    gap: 16px; /* Reduce gap for mobile devices */
    margin: 0px;
  }

  .journeys-container h3 {
    margin-top: 48px;
  }

  .media-card,
  .media-card-image {
    width: 80vw; /* Increase width for mobile devices */
    text-align: center;
  }

  .media-card {
    width: 100%;
  }

  .journey-container,
  .journey-container-reverse {
    flex-direction: column; /* Make the journey container elements stack vertically */
  }

  .journey-picture {
    width: 100%; /* Make the journey pictures take up the full width on mobile devices */
    height: 256px; /* Adjust the height automatically based on the aspect ratio */
    margin: 0px;
    border-radius: unset;
  }

  .journey-text-container {
    margin: 0 0 16px 0; /* Adjust margin for mobile devices */
    text-align: center;
  }

  .journey-content {
    margin: 0 6px 48px 6px;
  }
}
